  
  .in-0 {
    
    font-size: 0.6rem;
    padding: 6px;
    height: 5rem;
    /* border:  1px solid black; */
  }
  
  .in-0:focus {
    outline: 0;
  }

  .input{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    /* border: 1px solid black; */
  }