*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

.line-pg{
    position: relative;
}

.text-line{
    width:50rem;
    position: absolute;
    top: -5rem;
    transform: rotate(-3deg);
}

.hd-line{
    padding-left:10rem;
}

@media screen and (max-width:1300px) {
.hd-line{
    font-size: 1.4rem;
}

.text-line{
    display: none;
}
}

@media screen and (max-width:1000px) {
    .hd-line{
        font-size: 1.9rem;
        text-align: center;
        padding-left:0rem;
        padding-top: 1rem;
    }
    }