.list-items {
    padding: 2px;
    font-size: 1rem;
  }

  .menu{
    display: flex;
    width: 50%;
    padding-left: 5rem;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}


@media screen and (max-width:1197px) {
    .menu{
        padding-left: 1rem;
    }

    .list-items {
        padding: 0px;
      }
}


@media screen and (max-width:1000px) {
    .menu{
        display: none;
    }
}