*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

.lft-rgt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

@media screen and (max-width:1000px) {
    .lft-rgt{
        flex-direction: column;
    }
    }